.App {
  text-align: center;
}

.App-logo {
  width: 100%;
  height: 100%;
  background-image: url(https://i.pinimg.com/originals/c8/97/0e/c8970eb025dd44a6e6e1eb093f454e11.jpg);
  background-size: cover;
}

.txt{
  font-size: 200pt;
  color: white;
}
